{% extends 'base_usuario.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header">
                <h5 class="m-0">Meu Perfil</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <strong>Username:</strong>
                    </div>
                    <div class="col-sm-8">
                        {{ user.username }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <strong>Nome Completo:</strong>
                    </div>
                    <div class="col-sm-8">
                        {{ user.get_full_name }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-sm-8">
                        {{ user.email }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <strong>Data de Cadastro:</strong>
                    </div>
                    <div class="col-sm-8">
                        {{ user.date_joined|date:"d/m/Y H:i" }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Tipo de Conta:</strong>
                    </div>
                    <div class="col-sm-8">
                        {% if user.is_superuser %}
                            <span class="badge bg-success">Administrador</span>
                        {% else %}
                            <span class="badge bg-secondary">Usuário Padrão</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}